.button {
    height: 8vmin;
    font-size: 2vmin;
    width: 40vmin;
    margin: auto;
}

.title {
    font-size: 8vmin;
    margin-bottom: 6vmin;
}

.buttonGroup {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1vmin;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 10%;

}

.username {
    height: 3vmin;
    font-size: 1.5vmin;
    width: 10vmin;
    margin: auto;
    position: absolute;
    right: 16vmin;
    top: 2vmin;
}

.login {
    height: 3vmin;
    font-size: 1.5vmin;
    width: 10vmin;
    margin: auto;
    position: absolute;
    right: 4vmin;
    top: 2vmin;
}

