.card {
  width: 4.8in;
  height: 7.2in;
}

.card-main {
  position: relative;
  width: 4.6in;
  height: 7in;
  z-index: 10;
}

.card-highlight {
  position: relative;
  width: 4.8in;
  height: 7.2in;
  top: -100%;
  background-color: rgba(176, 239, 255);
}

.name {
  position: absolute;
  top: -0.42in;
  left: 0.250in;
  color: black;
  background-color: white;
  border: solid;
  border-color: black;
  border-width: 4px;
  width: 4.1in;
  border-radius: 0.5in;
  font-size: 3rem;
  overflow-wrap: anywhere;
  z-index: 1;
}

.description {
  position: absolute;
  top: 3.6in;
  left: 0.25in;
  padding: 0.2in;
  width: calc(4.6in - 1in);
  height: 2.2in;
  z-index: 1;
}

.attack {
  position: absolute;
  bottom: -0.8in;
  left: -0.15in;
  color: black;
  background-color: orange;
  border: solid;
  border-color: black;
  border-width: 4px;
  width: 2.1in;
  border-radius: 0.5in;
  font-size: 3rem;
  z-index: 1;
}

.health {
  position: absolute;
  bottom: -0.8in;
  right: -0.15in;
  color: black;
  background-color: mediumseagreen;
  border: solid;
  border-color: black;
  border-width: 4px;
  width: 2.1in;
  border-radius: 0.5in;
  font-size: 3rem;
  z-index: 1;
}

.cost {
  position: absolute;
  top: -1.1in;
  left: -0.3in;
  z-index: 1;
  color: black;
  background-color: skyblue;
  border: solid;
  border-color: black;
  border-width: 4px;
  width: 0.9in;
  height: 0.9in;
  border-radius: 50%;
  font-size: 0.8in;
  z-index: 1;
}

.sprite {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 4.6in;
  height: 7in;
  object-fit: cover;
  z-index: 0;
}

.mini-sprite {
  position: absolute;
  top: 0.9in;
  left: 0.2in;
  width: 4.1in;
  height: 2.5in;
  object-fit: cover;
  z-index: 0;
}

.deck {
  width: 4.6in;
  height: 7in;
  border-width: 0.05in;
  font-size: 0.7in;
  background-color: #dddddd;
}

