.chat-box {
  position: absolute;
  left: 5vw;
  top: 10vw;
  overflow-y: scroll;
  width: 15vw;
  height: 50vh;
  overflow-wrap: break-word;
  white-space: pre-line;
  display: flex;
  flex-direction: column-reverse;
  font-size: 0.125in;
  font-weight: 600;
  color: #f8faf2;
  z-index: 100;
  background-color: rgba(30, 40, 50, 0.8);
  padding: 0.5vw;
}


