.chat-box {
  position: absolute;
  left: 5vw;
  top: 10vw;
  overflow-y: scroll;
  width: 15vw;
  height: 50vh;
  overflow-wrap: break-word;
  white-space: pre-line;
  display: flex;
  flex-direction: column-reverse;
  font-size: 12px;
  z-index: 100;
}


