.owner-player-stats {
  text-align: right;
  position: absolute;
  left: -10px;
  top: -7px;
  width: 150px;
  transform: skew(15deg);
  z-index: 100;
}

.oppon-player-stats {
  text-align: left;
  position: absolute;
  right: -10px;
  top: -7px;
  width: 150px;
  transform: skew(-15deg);
  z-index: 100;
}

.owner-player-stats-border {
  position: absolute;
  left: 5vw;
  bottom: 15%;
  height: 40px;
  width: 150px;
  transform: skew(-15deg);
  border-color: #444444;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  z-index: 100;
}

.oppon-player-stats-border {
  position: absolute;
  right: 5vw;
  top: 10%;
  height: 40px;
  width: 150px;
  transform: skew(15deg);
  border-color: #444444;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  z-index: 100;
}

.owner-player-mana {
  text-align: right;
  position: absolute;
  left: -10px;
  top: -7px;
  width: 150px;
  transform: skew(15deg);
  z-index: 100;
}

.oppon-player-mana {
  text-align: left;
  position: absolute;
  right: -10px;
  top: -7px;
  width: 150px;
  transform: skew(-15deg);
  z-index: 100;
}

.owner-player-mana-border {
  position: absolute;
  right: 5vw;
  bottom: 15%;
  height: 40px;
  width: 150px;
  transform: skew(-15deg);
  border-color: #444444;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  z-index: 100;
}

.oppon-player-mana-border {
  position: absolute;
  left: 5vw;
  top: 10%;
  height: 40px;
  width: 150px;
  transform: skew(15deg);
  border-color: #444444;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  z-index: 100;
}
