.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.status-bar {
  position: absolute;
  left: 50px;
  top: 20px;
}

.phase-indicator {
  position: absolute;
  left: min(calc(50% - 400px), 330px);
  top: 332px;
}

.phase-select {
  position: absolute;
  right: min(calc(50% - 420px), 330px);
  top: 302px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.next-button {
  height: 48px;
  font-size: 16px;
  width: 128px;
}

.end-button {
  margin-top: 6px;
  height: 48px;
  width: 128px;
  font-size: 16px;
}

.battle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -80px;
  gap: 10px;
  transform: perspective(1000px) rotateX(30deg);
}

.board-grid {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 148px 148px 148px 148px;
}

.decks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 9px;
}

.owner-hand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
  margin-top: 20px;
  min-height: 140px;
  transform: perspective(1000px) translateZ(100px);
}

.oppon-hand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
  transform: perspective(1000px) translateZ(-300px);
  min-height: 140px;
}

.card-griditem {
  margin: auto;
}



