.modal {
  text-align: center;
  z-index: 100;
  width: 900px;
  height: 600px;
  background-color: rgba(100,100,100,0.8);
  position: absolute;
  top: 80px;
  padding: 64px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.exit-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 16px;
  right: 16px;
}

