.modal {
  text-align: center;
  z-index: 100;
  width: 900px;
  height: 568px;
  background-color: rgba(100,100,120,0.8);
  position: absolute;
  top: 80px;
  padding: 64px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.modal-title {
  position: absolute;
  top: -8px;
  left: 360px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-ok-button {
  position: absolute;
  bottom: 32px;
  left: 480px;
  width: 64px;
  height: 32px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.exit-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}

